.sortContainer {
  display: flex;
  justify-content: flex-end; 
  margin-bottom: 20px; 
  padding: 0 10px;
}

.sortSelect {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--text-color); 
  background-color: var(--card-bg);
  color: var(--text-color);
  cursor: pointer;
  transition:
    background-color var(--transition),
    border-color var(--transition);
}

.sortSelect:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
}
